<app-navbar>
  <div class="container p-5">
    <div class="row row-cols-1 row-cols-md-4">
      <div class="col mb-4">
        <div
          class="card h-100 cursor-select card-usco-menu shadow"
          [routerLink]="['/cuestionarios']"
          #tooltip="matTooltip"
          matTooltip="Crear cuestionario, configura el acceso a usuarios y
          parametriza la fecha de inicio y cierre del mismo."
          matTooltipPosition="below"
        >
          <h5
            class="card-header pt-3 text-center font-usco-vt font-weight-bold"
          >
            Cuestionarios
          </h5>
          <img src="assets/file-lines-solid.png" class="card-img-top p-4" />
        </div>
      </div>
      <div class="col mb-4">
        <div
          class="card h-100 cursor-select card-usco-menu shadow"
          [routerLink]="['/preguntas']"
          #tooltip="matTooltip"
          matTooltip="Creación de preguntas de seleccion, escala likert y
          parametrización de la misma."
          matTooltipPosition="below"
        >
          <h5
            class="card-header pt-3 text-center font-usco-vt font-weight-bold"
          >
            Preguntas
          </h5>
          <img
            src="assets/file-circle-question-solid.png"
            class="card-img-top p-4"
          />
        </div>
      </div>
      <div class="col mb-4">
        <div
          class="card h-100 cursor-select card-usco-menu shadow"
          [routerLink]="['/respuesta']"
          #tooltip="matTooltip"
          matTooltip="Creación de respuestas según las opciones para cada ítem
          establecido."
          matTooltipPosition="below"
        >
          <h5
            class="card-header pt-3 text-center font-usco-vt font-weight-bold"
          >
            Respuestas
          </h5>
          <img src="assets/file-pen-solid.png" class="card-img-top p-4" />
        </div>
      </div>
      <div class="col mb-4">
        <div
          class="card h-100 cursor-select card-usco-menu shadow"
          [routerLink]="['/relacion-pregunta-respuesta']"
          #tooltip="matTooltip"
          matTooltip="Relaciona todas las repsuesta que puede tener un ítem de
          selección multipel con única respuesta."
          matTooltipPosition="below"
        >
          <h5
            class="card-header pt-3 text-center font-usco-vt font-weight-bold"
          >
            Relación pregunta y respuesta
          </h5>
          <img
            src="assets/diagram-project-solid.png"
            class="card-img-top p-4"
          />
        </div>
      </div>
      <div class="col mb-4">
        <div
          class="card h-100 cursor-select card-usco-menu shadow"
          [routerLink]="['/reportes']"
          #tooltip="matTooltip"
          matTooltip="Resultados en gráficos estadísticos y generación de un reporte
          descarble en excel."
          matTooltipPosition="below"
        >
          <h5
            class="card-header pt-3 text-center font-usco-vt font-weight-bold"
          >
            Reportes
          </h5>
          <img src="assets/chart-simple-solid.png" class="card-img-top p-4" />
        </div>
      </div>
    </div>
  </div>
</app-navbar>
