<app-navbar>
  <div class="container p-5">
    <div class="row row-cols-1 row-cols-md-4">
      <div class="col mb-4">
        <div
          class="card h-100 cursor-select card-usco-menu shadow"
          [routerLink]="['/resultados']"
          #tooltip="matTooltip"
          matTooltip="Permite obtener los resultados en gráficos tabulados (barras,
          porcentaje y de dona)."
          matTooltipPosition="below"
        >
          <h5
            class="card-header pt-3 text-center font-usco-vt font-weight-bold"
          >
            Resultados
          </h5>
          <img src="assets/chart-pie-solid.png" class="card-img-top p-4" />
        </div>
      </div>
      <div class="col mb-4">
        <div
          class="card h-100 cursor-select card-usco-menu shadow"
          [routerLink]="['/agrupados']"
          #tooltip="matTooltip"
          matTooltip="Permite descargar el reporte por tipo de preguntas y de manera
          ordenada y agrupada."
          matTooltipPosition="below"
        >
          <h5
            class="card-header pt-3 text-center font-usco-vt font-weight-bold"
          >
            Descargar Excel Agrupado
          </h5>
          <img src="assets/list-check-solid.png" class="card-img-top p-4" />
        </div>
      </div>
      <div class="col mb-4">
        <div
          class="card h-100 cursor-select card-usco-menu shadow"
          [routerLink]="['/descargables']"
          #tooltip="matTooltip"
          matTooltip="Permite descargar el reporte general, según el cuestionario
          aplicado."
          matTooltipPosition="below"
        >
          <h5
            class="card-header pt-3 text-center font-usco-vt font-weight-bold"
          >
            Descargar Excel General
          </h5>
          <img src="assets/file-csv-solid.png" class="card-img-top p-4" />
        </div>
      </div>
      <div class="col mb-4">
        <div
          class="card h-100 cursor-select card-usco-menu shadow"
          [routerLink]="['/inicio']"
          #tooltip="matTooltip"
          matTooltip="Volver al menú anterior."
          matTooltipPosition="below"
        >
          <h5
            class="card-header pt-3 text-center font-usco-vt font-weight-bold"
          >
            Inicio
          </h5>
          <img src="assets/house-solid.png" class="card-img-top p-4" />
        </div>
      </div>
    </div>
  </div>
</app-navbar>
