<app-navbar>
  <div class="container mt-3 text-center" #target>
    <div class="card rounded-2 p-0 shadow-sm mt-5 mb-5">
      <div
        class="card-header ml-4 mr-4 cursor-select"
        [routerLink]="['/cuestionarios']"
        routerLinkActive="router-link-active"
      >
        <h4 class="font-usco-default">Creación Cuestionario</h4>
      </div>
      <div class="card-body">
        <div class="container">
          <div class="row">
            <div class="col">
              <fieldset class="scheduler-border shadow-sm">
                <legend class="scheduler-border font-usco-vt">
                  Formulario creación cuestionario
                </legend>
                <div class="row">
                  <div class="col">
                    <form [formGroup]="form">
                      <div class="row">
                        <div class="col">
                          <mat-form-field
                            class="example-full-width"
                            appearance="outline"
                          >
                            <mat-label>Nombre del cuestionario</mat-label>
                            <input
                              matInput
                              #input
                              maxlength="150"
                              formControlName="nombre"
                              placeholder="Nombre del cuestionario..."
                              required
                            />
                            <mat-hint align="end"
                              >{{ input.value.length }}/150</mat-hint
                            >
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row mt-2 text-center">
                        <div class="col">
                          <mat-form-field
                            class="example-full-width"
                            appearance="outline"
                          >
                            <mat-label
                              >Instrucciones del cuestionario</mat-label
                            >
                            <textarea
                              matInput
                              #mesage
                              maxlength="2500"
                              formControlName="instrucciones"
                              id="instrucciones"
                              rows="5"
                              placeholder="Parrafo con instrucciones..."
                              required
                            ></textarea>
                            <mat-hint align="end"
                              >{{ mesage.value.length }}/2500</mat-hint
                            >
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row mt-2 text-center">
                        <div class="col">
                          <div class="form-group">
                            <mat-form-field
                              class="example-full-width"
                              appearance="outline"
                            >
                              <mat-label>Fecha de inicio</mat-label>
                              <input
                                matInput
                                [matDatepicker]="picker1"
                                (dateChange)="limiteVigencia()"
                                [min]="fechaLimiteMinima"
                                formControlName="fechaInicio"
                              />
                              <mat-hint>Día/Mes/Año</mat-hint>
                              <mat-datepicker-toggle
                                matIconSuffix
                                [for]="picker1"
                              ></mat-datepicker-toggle>
                              <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col">
                          <div class="form-group">
                            <mat-form-field
                              class="example-full-width"
                              appearance="outline"
                            >
                              <mat-label>Fecha de finalización</mat-label>
                              <input
                                matInput
                                [matDatepicker]="picker2"
                                [min]="fechaLimiteMinimaVigencia"
                                formControlName="fechaVigencia"
                              />
                              <mat-hint>Día/Mes/Año</mat-hint>
                              <mat-datepicker-toggle
                                matIconSuffix
                                [for]="picker2"
                              ></mat-datepicker-toggle>
                              <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                      <div class="row mt-2 text-center">
                        <div class="col">
                          <button
                            *ngIf="editar"
                            class="btn btn-success"
                            (click)="onCrear()"
                          >
                            <i class="far fa-save"></i> Registrar
                          </button>
                          <button
                            *ngIf="!editar"
                            class="btn btn-success"
                            [disabled]="!form.valid"
                            (click)="onCrear()"
                          >
                            <i class="far fa-save"></i> Registrar
                          </button>
                          <button
                            (click)="onCancelar()"
                            class="btn btn-warning ml-2 mr-2"
                          >
                            <i class="fa-solid fa-xmark"></i> Cancelar
                          </button>

                          <button
                            (click)="onEliminar()"
                            *ngIf="editar"
                            class="btn btn-danger"
                          >
                            <i class="far fa-trash-alt"></i> Borrar
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <fieldset class="scheduler-border shadow-sm">
                <legend class="scheduler-border font-usco-vt">
                  Cuestionarios creados:
                </legend>
                <div class="row mt-2 ml-5 mr-5 pl-5 pr-5">
                  <div class="col">
                    <div class="form-group">
                      <mat-form-field
                        class="example-full-width"
                        appearance="outline"
                      >
                        <mat-label>Campo de búsqueda</mat-label>
                        <input
                          matInput
                          #input
                          (keyup)="filtrar($event)"
                          maxlength="50"
                          type="text"
                          required
                        />
                        <button matSuffix mat-icon-button>
                          <mat-icon>search</mat-icon>
                        </button>
                        <mat-hint align="end"
                          >{{ input.value.length }}/50</mat-hint
                        >
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <table
                      mat-table
                      [dataSource]="dataSource"
                      class="table table-hover shadow-sm"
                    >
                      <ng-container matColumnDef="codigo">
                        <th mat-header-cell *matHeaderCellDef>No</th>
                        <td mat-cell *matCellDef="let element; let i = index">
                          {{ dataSource.filteredData.indexOf(element) + 1 }}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef>Nombre</th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.nombre }}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="instrucciones">
                        <th mat-header-cell *matHeaderCellDef>Información</th>
                        <td mat-cell *matCellDef="let element">
                          <button
                            class="btn btn-primary btn-sm mr-2"
                            title="Información"
                            (click)="openDialog(element)"
                          >
                            <i class="fa-solid fa-circle-info"></i>
                          </button>
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="uaa">
                        <th mat-header-cell *matHeaderCellDef>Uaa</th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.uaa.codigo }} - {{ element.uaa.nombre }}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="fin">
                        <th mat-header-cell *matHeaderCellDef>Estado</th>
                        <td mat-cell *matCellDef="let element">
                          <div
                            *ngIf="
                              validarFechas(element);
                              then content;
                              else other_content
                            "
                          >
                            here is ignored
                          </div>

                          <ng-template #content>
                            <button
                              class="btn btn btn-success btn-sm mr-2"
                              data-toggle="tooltip"
                              data-placement="top"
                              title="Abierta"
                            >
                              <i class="fas fa-check-square"></i>
                            </button>
                          </ng-template>
                          <ng-template #other_content>
                            <button
                              class="btn btn btn-secondary btn-sm mr-2"
                              data-toggle="tooltip"
                              data-placement="top"
                              title="Cerrada"
                            >
                              <i class="fas fa-minus-square"></i>
                            </button>
                          </ng-template>
                        </td>
                      </ng-container>
                      <!-- editar -->
                      <ng-container matColumnDef="editar">
                        <th mat-header-cell *matHeaderCellDef>Editar</th>
                        <td mat-cell *matCellDef="let element">
                          <div class="example-button-container">
                            <button
                              class="btn btn-usco-vt btn-sm"
                              (click)="onEditarClick(element)"
                              (click)="scroll(target)"
                            >
                              <i class="fas fa-pencil-alt fa-xs"></i>
                            </button>
                          </div>
                        </td>
                      </ng-container>

                      <tr
                        mat-header-row
                        *matHeaderRowDef="displayedColumns"
                      ></tr>
                      <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumns"
                      ></tr>
                    </table>

                    <mat-paginator
                      [pageSizeOptions]="[10, 20, 30]"
                      showFirstLastButtons
                    ></mat-paginator>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-navbar>
