<app-navbar>
  <div class="container mt-3 text-center" #target>
    <div class="card rounded-2 p-0 shadow-sm mt-5 mb-5">
      <div
        class="card-header ml-4 mr-4 cursor-select"
        [routerLink]="['/inicio']"
        routerLinkActive="router-link-active"
      >
        <h4 class="font-usco-default">Creación Respuestas</h4>
      </div>
      <div class="card-body">
        <div class="container">
          <fieldset class="scheduler-border shadow-sm">
            <legend class="scheduler-border font-usco-vt">
              Formulario creación respuestas
            </legend>
            <div class="row">
              <div class="col">
                <form [formGroup]="form">
                  <div class="row">
                    <div class="col">
                      <mat-form-field
                        class="example-full-width"
                        appearance="outline"
                      >
                        <mat-label>Descripción</mat-label>
                        <input
                          matInput
                          #message
                          maxlength="200"
                          formControlName="descripcion"
                          placeholder="Ej: Bueno"
                        />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row mt-4 text-center">
                    <div class="col">
                      <button
                        type="button"
                        class="btn btn-success"
                        [disabled]="!form.valid"
                        (click)="onCrear()"
                      >
                        <i class="far fa-save"></i> Registrar
                      </button>
                      <button
                        (click)="onCancelar()"
                        class="btn btn-warning ml-2 mr-2"
                      >
                        <i class="far fa-times-circle"></i> Cancelar
                      </button>

                      <button
                        (click)="onEliminar()"
                        *ngIf="editar"
                        class="btn btn-danger"
                      >
                        <i class="far fa-trash-alt"></i> Borrar
                      </button>
                    </div>
                  </div>
                  <div>
                    <div id="botones" class="row"></div>
                  </div>
                </form>
              </div>
            </div>
          </fieldset>
          <fieldset class="scheduler-border shadow-sm">
            <legend class="scheduler-border font-usco-vt">Respuestas</legend>
            <div class="row mt-2 ml-5 mr-5 pl-5 pr-5">
              <div class="col">
                <div class="form-group">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>Campo de búsqueda</mat-label>
                    <input
                      matInput
                      #input
                      (keyup)="filtrar($event)"
                      maxlength="50"
                      type="text"
                      required
                    />
                    <button matSuffix mat-icon-button>
                      <mat-icon>search</mat-icon>
                    </button>
                    <mat-hint align="end">{{ input.value.length }}/50</mat-hint>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <table
                  mat-table
                  [dataSource]="dataSource"
                  class="table table-hover shadow-sm"
                >
                  <ng-container matColumnDef="codigo">
                    <th mat-header-cell class="text-left" *matHeaderCellDef>
                      No
                    </th>
                    <td
                      mat-cell
                      class="text-left"
                      *matCellDef="let element; let i = index"
                    >
                      {{ dataSource.filteredData.indexOf(element) + 1 }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="descripcion">
                    <th mat-header-cell class="text-left" *matHeaderCellDef>
                      Descripcion
                    </th>
                    <td mat-cell class="text-left" *matCellDef="let element">
                      {{ element.descripcion }}
                    </td>
                  </ng-container>

                  <!--editar-->
                  <ng-container matColumnDef="editar">
                    <th mat-header-cell class="text-center" *matHeaderCellDef>
                      Editar
                    </th>
                    <td mat-cell class="text-center" *matCellDef="let element">
                      <div class="example-button-container">
                        <button
                          class="btn btn-usco-vt btn-sm"
                          (click)="onEditarClick(element)"
                          (click)="scroll(target)"
                        >
                          <i class="fas fa-pencil-alt fa-xs"></i>
                        </button>
                      </div>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                  ></tr>
                </table>

                <mat-paginator
                  [pageSizeOptions]="[10, 20, 30]"
                  showFirstLastButtons
                ></mat-paginator>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</app-navbar>
