<app-navbar>
  <button
    class="btn btn-flotante-usco"
    [useExistingCss]="true"
    printSectionId="print-section"
    ngxPrint
  >
    <i class="fa-solid fa-print"></i> Imprimir
  </button>
  <div class="container mt-3 text-center" #target>
    <div class="card rounded-2 p-0 shadow-sm mt-5 mb-5">
      <div
        class="card-header ml-4 mr-4 cursor-select"
        [routerLink]="['/cuestionarios']"
        routerLinkActive="router-link-active"
      >
        <h4 class="font-usco-default">Previsualización Cuestionario</h4>
      </div>
      <div class="card-body">
        <div class="container">
          <fieldset class="scheduler-border shadow-sm">
            <legend class="scheduler-border font-usco-vt">
              Seleccione el cuestionario
            </legend>
            <form [formGroup]="form" class="pl-4 pr-4">
              <div class="row pt-2">
                <div class="col">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>Cuestionarios</mat-label>
                    <mat-select formControlName="codigo">
                      <mat-option class="p-2"
                        *ngFor="let cu of lstCuestionarios"
                        [value]="cu.codigo"
                      >
                        {{ cu.nombre | capitalizeFirstLetter }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <button
                    class="btn btn-usco-vt"
                    [disabled]="!form.valid"
                    (click)="onMostrar()"
                  >
                    <i class="fa-solid fa-eye"></i> Previsualizar
                  </button>
                </div>
              </div>
            </form>
          </fieldset>
        </div>
      </div>
    </div>
    <div *ngIf="!flag" class="row text-center precarga-img-usco">
      <div class="col" *ngIf="!validador">
        <img
          src="https://www.usco.edu.co/imagen-institucional/logo/universidad-surcolombiana-v.png"
          alt=""
        />
      </div>
    </div>
    <div *ngIf="!flag" class="row text-center mt-3">
      <div class="col">
        <h5 class="font-usco-default font-usco-gr">
          Espacio para la visualización del cuestionario
        </h5>
      </div>
    </div>
    <div class="container pl-5 pr-5" id="print-section">
      <div *ngIf="flag" class="row prev-header-encuesta-usco mt-2 mb-3 shadow">
        <div class="col">
          <div
            class="row border-round-usco pl-5 pr-5 pb-3 pt-4"
            id="carnet-usco-rotulo-front"
          >
            <div class="col text-center font-usco-gr mt-2">
              <img style="width: 40%" src="assets/encuesta.png" alt="USCO" />
              <hr class="dashed" />
              <h4 class="font-usco-default text-left font-usco-gr-d6">
                {{ titulo | capitalizeFirstLetter }}
              </h4>
              <h6 class="font-usco-default mt-3 text-left">
                <span class="font-usco-gr-d6"
                  ><i class="fa-solid fa-user"></i> Dirigida a:</span
                >
                {{ dirigido | capitalizeFirstLetter }}
              </h6>
              <h6 class="font-usco-default mt-3 text-left font-usco-gr-d6">
                <i class="fa-solid fa-circle-info"></i> Instrucciones.
              </h6>
              <p class="text-justify">{{ instrucciones }}</p>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="flag">
        <div class="row">
          <div class="col mt-3">
            <div class="row" *ngFor="let p of lstPreguntass; let i = index">
              <div class="col">
                <div *ngIf="p.tipo == 0">
                  <div
                    *ngIf="p.tipoRespuesta.codigo == 2"
                    class="row prev-header-encuesta-usco mb-3 shadow"
                    style="background-color: white"
                  >
                    <div class="col pl-5 pr-5 pt-4 pb-3">
                      <div class="form-group text-left">
                        <small
                          style="font-size: 16px"
                          class="font-usco-gr font-usco-default font-weight-bold"
                          >{{ i + 1 }}). {{ p.descripcion
                          }}<b style="color: red" *ngIf="p.obligatorio == 1"
                            >*</b
                          ></small
                        ><br />
                        <mat-form-field
                          class="example-full-width"
                          appearance="outline"
                          style="
                            margin-top: 0;
                            margin-bottom: 0;
                            padding-top: 0;
                            padding-bottom: 0;
                          "
                        >
                          <mat-label>Digite aquí su respuesta</mat-label>
                          <input matInput #message maxlength="100" />
                          <mat-hint>{{ p.textoAdicional }}</mat-hint>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div
                    class="row prev-header-encuesta-usco mb-3 shadow"
                    style="background-color: white"
                    *ngIf="p.tipoRespuesta.codigo == 1"
                  >
                    <div class="col pl-5 pr-5 pt-4 pb-3 text-left">
                      <label
                        id="example-radio-group-label"
                        class="font-usco-default font-usco-gr font-weight-bold"
                        >{{ i + 1 }}). {{ p.descripcion
                        }}<b style="color: red" *ngIf="p.obligatorio == 1"
                          >*</b
                        ></label
                      ><br />
                      <mat-radio-group
                        aria-labelledby="example-radio-group-label"
                        class="example-radio-group"
                      >
                        <mat-radio-button
                          class="example-radio-button"
                          style="
                            margin-top: 0;
                            margin-bottom: 0;
                            padding-top: 0;
                            padding-bottom: 0;
                          "
                          *ngFor="let res of lstOpciones[p.codigo]"
                          [value]="res.codigo"
                        >
                          {{
                            res.respuestaOpciones.descripcion
                              | capitalizeFirstLetter
                          }}
                        </mat-radio-button>
                      </mat-radio-group>
                    </div>
                  </div>
                  <div
                    class="row prev-header-encuesta-usco mb-3 shadow"
                    style="background-color: white"
                    *ngIf="p.tipoRespuesta.codigo == 4"
                  >
                    <div class="col pl-5 pr-5 pt-4 pb-3">
                      <div class="form-group text-left">
                        <small
                          class="font-usco-gr font-usco-default font-weight-bold"
                          style="font-size: 16px"
                          >{{ i + 1 }}). {{ p.descripcion
                          }}<b style="color: red" *ngIf="p.obligatorio == 1"
                            >*</b
                          ></small
                        ><br />
                        <mat-form-field
                          class="example-full-width"
                          appearance="outline"
                        >
                          <mat-label>Selecciones una opción</mat-label>
                          <mat-select>
                            <mat-option
                              *ngFor="let res of lstOpciones[p.codigo]"
                              [value]="res.codigo"
                            >
                              {{ res.respuestaOpciones.descripcion }}
                            </mat-option>
                          </mat-select>
                          <mat-hint>{{ p.textoAdicional }}</mat-hint>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="p.tipo == 2" id="table">
                  <table id="customers">
                    <tr>
                      <th>{{ i + 1 }}). {{ p.descripcion }}</th>
                      <th *ngFor="let e of lstEscala[p.codigo]">
                        {{ e.nombre }}
                      </th>
                    </tr>
                    <tr
                      *ngFor="
                        let pre of lstSubPreguntas[p.codigo];
                        let i = index
                      "
                    >
                      <td *ngIf="p.obligatorio == 1">
                        {{ pre.descripcion }} <b style="color: red">*</b>
                      </td>
                      <td *ngIf="p.obligatorio == 0">
                        {{ pre.descripcion }}
                      </td>

                      <td
                        class="text-center"
                        *ngFor="let e of lstEscala[p.codigo]"
                      >
                        <input
                          type="radio"
                          name="{{ pre.codigo }}"
                          value="{{ e.codigo }}"
                        /><span class="ml-1" style="font-size: 13px">{{
                          e.valor
                        }}</span>
                      </td>
                    </tr>
                  </table>
                  <hr />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-navbar>
